{
  "extends": "standard",
  "plugins": [
    "html"
  ],
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "no-new": "off",
    "no-unused-vars": "off",
    "comma-dangle": "off"
  }
}
